





.App {
  text-align: center;
}

.table{
  padding-top:30px;
  padding-left: 10px;
  padding-right: 10px;
font-weight: bolder;
font-family: 'Courier New', Courier, monospace;
font-size: x-large;
}
